@import "./reset.scss";

.pre-loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .containe {
        img {
            animation: vibe 1s ease forwards infinite;
            max-width: 230px;
        }
    }
}

.s-container {
    width: 100%;
    overflow: hidden;
    margin: auto;

    .swiper-pagination {
        position: static;
        margin-top: 30px;
        display: block;
    }

    //swiper bagenation
    .swiper-pagination-bullet {
        width: 15px;
        height: 5px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.3);
        opacity: 1;
        margin-bottom: 10px;

        @media (max-width: 576px) {
            width: 12px;
            height: 3px;
        }
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background-color: $color1;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 2.5px;
    }
}

.s-head {
    margin-bottom: 30px;
    text-align: center;

    h3 {
        font-size: 26px;
        margin: 0;
        color: black;
        font-family: TajawalMedium;
        position: relative;

        @media (max-width: 576px) {
            font-size: 23px;
        }
    }
}

.product {
    .product-img {
        text-align: center;
        margin-bottom: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 220px;

        img {
            transition: all 0.5s;
            max-width: 100%;
        }

        .icons {
            .icon {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 14px;
                font-weight: 500;
                color: white;
                padding: 5px 10px;
                border-radius: 25px;
                z-index: 2;
            }
            .new {
                background-color: #00ca00;
            }
            .sale {
                background-color: #e13737;
            }
            .ship {
                background-color: #ffa300;
            }
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    .product-disc {
        text-align: center;

        h5 {
            font-size: 15px;
            color: black;
            line-height: 1.375;
            margin-bottom: 10px;
            font-family: TajawalRegular;

            &:hover {
                a {
                    color: $color1;
                }
            }
        }

        .price {
            color: black;
            font-weight: 700;
            font-size: 16px;
            font-family: TajawalBold;
            justify-content: center;

            .price-sale {
                text-decoration: line-through;
                color: gray;
                margin: 0 5px;
                font-size: 14px;
                font-weight: 400;
                display: flex;
            }

            span {
                margin: 0 1px;
            }
        }
    }
}

nav {
    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1600px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .fa-sort-down:before {
        font-size: 11px;
    }

    .top-settings {
        display: flex;
        align-items: center;
    }

    .top-setting {
        position: relative;

        .setting-anchor {
            font-size: 14px;
            color: black;
            line-height: 40px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &::after {
                font-family: "Linearicons-Free";
                font-weight: 900;
                content: "\e874";
                font-size: 8px;
                margin-inline-start: 5px;
            }
        }
        .top-dropDown {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            min-width: 120px;
            padding: 15px 25px;
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: all 0.3s ease-in-out;
            visibility: hidden;
            opacity: 0;
            z-index: 9;
        }

        .drop-link {
            white-space: nowrap;
            border-bottom: 1px solid #ededf0;
            padding: 0 4px 6px;
            margin-bottom: 4px;
            font-size: 15px;
            display: block;
            color: black;
            transition: all 0.3s ease-in-out;
            &:last-of-type {
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            &:hover {
                color: $color1;
            }

            @media (max-width: 576px) {
            }
        }

        &:hover {
            .setting-anchor {
                color: $color1;
            }
            .top-dropDown {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .nav-bottom {
        padding: 20px 0;

        .c2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .nav-logo {
            text-align: start;
            width: 30%;
            img {
                max-width: 255px;
                width: 100%;
                @media (max-width: 992px) {
                    max-width: 200px;
                    width: 100%;
                }
                @media (max-width: 992px) {
                    max-width: 80%;
                    width: unset;
                }
            }
            @media (max-width: 992px) {
                width: 40%;
                text-align: center;
            }
        }

        .nav-icons-sm {
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            width: 30%;
            display: none;

            & > div {
                cursor: pointer;
                font-family: TajawalMedium;

                span {
                    font-size: 22px;
                    color: black;
                    transition: all 0.5s;
                }

                &:hover {
                    span {
                        color: $color1;
                    }
                }
            }

            @media (max-width: 992px) {
                display: flex;
            }
        }
        .nav-icons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 16px;
            width: 30%;

            & > div {
                margin-inline-start: 30px;
                cursor: pointer;
                font-family: TajawalMedium;

                span {
                    font-size: 22px;
                    color: black;
                    transition: all 0.5s;
                }

                &:hover {
                    span {
                        color: $color1;
                    }
                }
            }

            .user {
                .setting-anchor {
                    color: black;
                    font-size: 16px;

                    &::after {
                        display: none;
                    }
                }
                .top-dropDown {
                    top: calc(100% + 12px);
                }
            }

            .nav-currency {
                margin-inline-start: 40px;
                .setting-anchor {
                    color: rgb(147, 147, 147);
                    font-size: 16px;

                    img {
                        margin-inline-end: 5px;
                    }
                }
            }

            @media (max-width: 992px) {
                & > div {
                    margin-inline-start: 25px;
                }

                .user,
                .favourite,
                .nav-currency {
                    display: none;
                }
            }
        }
    }

    .nava {
        margin: 14px auto;
        transition: all 0.5s;

        .nava-content {
            & > ul {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: TajawalMedium;
                font-weight: 500;

                li {
                    margin: 0 10px;

                    a {
                        color: black;
                        transition: all 0.5s;
                        font-weight: 500;
                        font-family: TajawalMedium;
                        font-size: 17px;
                        text-transform: capitalize;
                        &:hover {
                            color: $color1;
                        }
                    }
                }

                .slide {
                    .drop {
                        font-size: 18px;
                        font-weight: 500;
                        color: black;

                        span {
                            font-size: 16px;
                            color: rgb(53, 53, 53);
                            transform-origin: center;
                            transition: all 0.5s;
                        }

                        &:hover {
                            color: $color1;
                        }
                    }
                }

                .sm-slide {
                    .drop {
                        color: black;
                        transition: all 0.5s;
                        font-weight: 500;
                        font-family: TajawalMedium;
                        font-size: 17px;
                        text-transform: capitalize;
                        cursor: pointer;
                        
                        &:hover {
                            color: $color1;
                        }
                        span {
                            display: none;
                        }
                    }

                    ul {
                        top: calc(100% + 12px);
                    }
                }

                .sm-link {
                    display: none;
                    @media (max-width: 992px) {
                        display: block;
                    }
                }
                .slide-active {
                    .drop {
                        color: $color1;

                        span {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .nava-head {
                display: none;
            }
        }

        @media (max-width: 992px) {
            margin: 0;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
            height: 0;
            width: 100%;
            z-index: -5;
            opacity: 0;
            transition: all 0.5s;
        }

        .nava-content {
            @media (max-width: 992px) {
                position: absolute;
                top: 0;
                //right: 0;
                right: -150%;
                background-color: white;
                height: 100vh;
                width: 100%;
                transition: all 0.5s;
                flex-direction: column;
                text-align: right;
                padding: 0 30px;
                padding-top: 30px;

                & > ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 30px;
                    li {
                        margin: 10px 0;

                        a {
                            font-size: 18px;
                        }
                    }

                    .sm-slide {
                        .drop {
                            span {
                                display: inline;
                            }
                        }
                    }

                    .slide {
                        width: fit-content;

                        .drop {
                            justify-content: center;
                            align-items: center;

                            span {
                                margin-inline-start: 5px;
                            }
                        }
                        ul {
                            margin-inline-start: 0;
                            text-align: center;
                        }
                    }
                }

                .nava-head {
                    display: flex;
                    margin: 9px 0;
                    font-size: 17px;
                    position: relative;
                    justify-content: center;

                    a {
                        color: black;

                        &:hover {
                            color: $color1;
                        }
                    }

                    .top-settings {
                        .top-setting {
                            margin-inline-end: 20px;
                            &:nth-last-of-type(1) {
                                margin-inline-end: 0;
                            }

                            img {
                                margin-inline-end: 5px;
                            }
                        }
                    }

                    .nava-close {
                        position: absolute;
                        top: 50%;
                        left: 7px;
                        transform: translate(-50%, -50%);
                        font-size: 25px;
                        cursor: pointer;
                        color: #bdbdbd;
                    }
                }
            }
            @media (max-width: 576px) {
                .nava-head {
                    font-size: 16px;

                    .nava-close {
                        font-size: 20px;
                    }
                }

                li {
                    margin: 9px 0;

                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .nava-active {
        opacity: 1;
        z-index: 999;
        height: 100vh;

        .nava-content {
            right: 0;
            left: unset;
            min-height: 100%;
            max-height: 100%;
            height: 100%;
            overflow-y: auto;
        }
    }
}

.up {
    height: 50px;
    width: 50px;
    background-color: #c72329a6;
    right: 20px;
    bottom: 30px;
    color: white;
    font-size: 17px;
    position: fixed;
    z-index: 999;
    border-radius: 100%;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;

    &:hover {
        color: black;
    }
}

.active-up {
    visibility: visible;
    opacity: 1;
}

.search-form {
    height: 0%;
    width: 0%;
    background-color: $color1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -500;
    overflow: hidden;
    transition: all 0.5s;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;

    @media (max-width: 768px) {
        font-size: 18px;
    }

    .close-search {
        font-size: 24px;
        margin-bottom: 75px;
        margin-top: 60px;
        cursor: pointer;
        color: white;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 576px) {
            margin-bottom: 130px;
            margin-top: 50px;
        }
    }

    .search {
        width: 590px;
        height: 50px;
        max-width: 90%;
        text-align: center;
        margin: 0 auto;
        position: relative;
        form {
            height: 100%;
        }

        input {
            width: 100%;
            height: 100%;
            font-size: 24px;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            padding: 0 20px;
            font-family: "Tajawal";
            color: white;
            background-color: transparent;
            outline: none;

            &::placeholder {
                color: white;
            }

            @media (max-width: 576px) {
                padding: 0 15px;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
                background-color: transparent;
            }

            // &::placeholder{
            //     color:white;
            // }
        }

        .searching {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translate(-50%, -50%);
            cursor: pointer;
            border: none;
            outline: none;
            box-shadow: none;
            background-color: transparent;
            color: white;
            line-height: 3.75;
            font-size: 30px;

            @media (max-width: 576px) {
                left: 30px;
            }
        }
    }
}

.search-form-active {
    opacity: 1 !important;
    z-index: 2000 !important;
    height: 100% !important;
    width: 100% !important;
}

header {
    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1600px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .swiper-container {
        width: 100%;
        height: auto;

        .swiper-pagination {
            bottom: 45px;

            @media (max-width: 576px) {
                bottom: 15px;
            }
        }

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background: rgba(0, 0, 0, 0.6);
            opacity: 1;

            @media (max-width: 576px) {
                height: 8px;
                width: 8px;
            }
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
            background-color: white;
        }

        .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 2.5px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            background-color: rgba(0, 0, 0, 0.5);
            transition: all 0.5s ease-in;
            height: 50px;
            width: 50px;
            border-radius: 100%;
            top: 50%;

            @media (max-width: 768px) {
                display: none;
                height: 25px;
                width: 25px;
            }

            &:after {
                color: white;
                font-size: 14px;
            }
            &:hover {
                background-color: white;
                &:after {
                    color: black;
                }
            }
        }

        .swiper-button-prev {
            right: 35px;
        }

        .swiper-button-next {
            left: 35px;
        }

        .swiper-slide {
            img {
                width: 100%;
                height: auto;
                transition: all 0.5s;
            }
        }
    }
}

#about {
    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1600px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .about-content {
        display: flex;
        align-items: center;

        @media (max-width: 992px) {
            flex-direction: column-reverse;
        }
        & > div {
            width: 50%;

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        .top-txt {
            h2 {
                font-size: 24px;
                color: $color1;
                margin-bottom: 25px;
                font-family: TajawalBold;
            }
            p {
                font-size: 18px;
                color: black;
                margin-bottom: 35px;
                line-height: 1.778;
                max-width: 515px;
            }

            .more {
                width: 100%;

                a {
                    color: white;
                    line-height: 1.2;
                    width: 155px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    border: none;
                    border-radius: 24px;
                    transition: all 0.5s;
                    cursor: pointer;
                    background-color: $color1;

                    &:hover {
                        background-color: #ec1119;
                    }
                    @media (max-width: 992px) {
                        margin: 0 auto;
                    }
                }
            }

            @media (max-width: 992px) {
                text-align: center;
                padding: 30px 0;
                p {
                    margin: auto;
                    margin-bottom: 35px;
                }
            }
        }
        .top-img {
            overflow: hidden;
            margin-inline-end: 45px;

            .swiper-container {
                width: 100%;
                height: auto;

                .swiper-pagination {
                    bottom: 40px;

                    @media (max-width: 576px) {
                        bottom: 15px;
                    }
                }

                .swiper-pagination-bullet {
                    width: 12px;
                    height: 12px;
                    border-radius: 100%;
                    background: rgba(0, 0, 0, 0.6);
                    opacity: 1;

                    @media (max-width: 576px) {
                        height: 8px;
                        width: 8px;
                    }
                }

                .swiper-pagination-bullet-active {
                    opacity: 1;
                    background-color: white;
                }

                .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
                    margin: 0 2.5px;
                }

                .swiper-button-prev,
                .swiper-button-next {
                    background-color: rgba(0, 0, 0, 0.5);
                    transition: all 0.5s ease-in;
                    height: 50px;
                    width: 50px;
                    border-radius: 100%;
                    top: 50%;

                    @media (max-width: 768px) {
                        display: none;
                        height: 25px;
                        width: 25px;
                    }

                    &:after {
                        color: white;
                        font-size: 14px;
                    }
                    &:hover {
                        background-color: white;
                        &:after {
                            color: black;
                        }
                    }
                }

                .swiper-button-prev {
                    right: 35px;
                }

                .swiper-button-next {
                    left: 35px;
                }

                .swiper-slide {
                    img {
                        width: 100%;
                        height: auto;
                        transition: all 0.5s;
                    }
                }
            }

            @media (max-width: 992px) {
                text-align: center;
                margin-inline-end: 0px;
            }
        }
    }
}

#categories {
    padding: 65px 0;
    background-image: url("../images/categories/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    .categories-head {
        h2 {
            font-size: 26px;
            margin-bottom: 20px;
            font-family: TajawalBold;
            text-transform: capitalize;
        }
    }

    .categories-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .banner {
            width: 30%;
            transition: all 0.5s;
            img {
                transition: all 0.5s;
                margin-bottom: 35px;
                max-width: 100%;
            }
            h4 {
                font-size: 18px;
            }

            &:hover {
                img {
                    transform: rotate(360deg);
                }
            }

            @media (max-width: 768px) {
                width: 100%;
                margin: 30px 0;
            }
        }
    }
}

#best-seller {
    margin-top: 75px;
    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1600px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .best-seller-body {
        margin-bottom: 85px;

        @media (max-width: 576px) {
            margin-bottom: 50px;
        }
    }

    .best-seller-banner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;

        .banner {
            width: 49%;
            margin-bottom: 15px;
            overflow: hidden;
            text-align: center;
            img {
                width: 100%;
                max-width: 555px;
                transition: all 0.5s;
                transform: scale(1.02);
            }

            &::before {
                position: absolute;
                top: 0;
                left: -105%;
                z-index: 2;
                display: block;
                content: "";
                width: 50%;
                height: 100%;
                background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                transform: skewX(-25deg);
                cursor: pointer;
            }

            &:hover {
                &::before {
                    animation: shine 0.7s ease forwards;
                }
                img {
                    transform: scale(1);
                }
            }

            @media (max-width: 992px) {
                width: 100%;
                justify-content: center;
                //max-width: unset;
            }
        }
    }
}

#special {
    margin-top: 50px;
    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1600px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .special-body {
        margin-bottom: 100px;

        @media (max-width: 576px) {
            margin-bottom: 60px;
        }
    }
}

#notes {
    padding: 50px 0;
    background-color: $color1;

    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1600px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .notes-swiper-container {
        width: 100%;
        overflow: hidden;

        .swiper-pagination {
            position: static;
            margin-top: 30px;
            display: none;

            @media (max-width: 1200px) {
                display: block;
            }
        }

        //swiper bagenation
        .swiper-pagination-bullet {
            width: 15px;
            height: 5px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.5);
            opacity: 1;
            margin-bottom: 10px;

            @media (max-width: 576px) {
                width: 12px;
                height: 3px;
            }
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background-color: white;
        }

        .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 2.5px;
        }
    }

    .notes-slider {
        position: relative;
    }

    .note {
        display: flex;
        color: white;

        @media (max-width: 992px) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin: 0;
        }

        .note-icon {
            margin-inline-end: 10px;

            @media (max-width: 1200px) {
                margin-inline-end: 0;
                margin-bottom: 15px;
            }
        }

        .note-body {
            h3 {
                margin-bottom: 5px;
                text-transform: uppercase;
                font-size: 18px;
                font-family: TajawalBold;
            }

            p {
                font-size: 18px;
                margin: 0;
            }
            @media (max-width: 1200px) {
                text-align: center;
            }
        }
    }
}

footer {
    padding-top: 80px;
    padding-bottom: 30px;

    .container {
        position: relative;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }

        @media (min-width: 1200px) {
            width: 1600px;
        }
    }

    .row {
        margin: 0;

        & > div {
            padding: 0;
        }
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;

        @media (max-width: 992px) {
            justify-content: center;
            text-align: center;
            flex-direction: column;
            align-items: center;
        }

        .head {
            h4 {
                margin-bottom: 25px;
                text-transform: uppercase;
                font-weight: 700;
                font-family: TajawalBold;
                font-size: 17px;
                color: black;
            }
        }

        li {
            margin-bottom: 10px;
            transition: all 0.5s;
            a {
                font-size: 15px;
                transition: all 0.3s;
                color: black;
                text-transform: capitalize;
                font-family: TajawalMedium;
            }
            &:hover {
                transform: translateX(-5px);
                a {
                    color: $color1;
                }
            }
        }

        .account,
        .adds,
        .cust,
        .info {
            @media (max-width: 992px) {
                display: none;
            }
        }

        .mail {
            width: 360px;
            max-width: 100%;
            h4 {
                margin-bottom: 25px;
                font-size: 16px;
                font-weight: 700;
                font-family: TajawalBold;
                text-transform: uppercase;
                color: black;
            }
            p {
                margin-bottom: 14px;
                font-size: 16px;
                color: black;
            }

            .form-group {
                position: relative;

                a {
                    color: black;
                    position: absolute;
                    top: 50%;
                    left: 35px;
                    transform: translate(-50%, -50%);
                    font-size: 18px;
                    transition: all 0.5s;
                    cursor: pointer;

                    &:hover {
                        color: $color1;
                    }
                }

                input {
                    border-radius: 50px;
                    background-color: white;
                    border-radius: 25px;
                    font-size: 14px;
                    width: 100%;
                    height: 49px;
                    padding-right: 30px;
                    line-height: 4;
                    border: 1px solid rgb(235, 235, 235);

                    &::placeholder {
                        font-size: 14px;
                        color: rgb(187, 187, 187);
                    }
                }
            }

            .social {
                margin-top: 20px;
                justify-content: flex-start;
                flex-wrap: wrap;

                @media (max-width: 992px) {
                    justify-content: center;
                }

                h2 {
                    font-size: 16px;
                    font-weight: 700;
                    font-family: TajawalBold;
                    color: black;
                    margin-inline-end: 10px;

                    @media (max-width: 576px) {
                        width: 100%;
                        margin-bottom: 15px;
                    }
                }
                a {
                    height: 40px;
                    width: 40px;
                    border-radius: 100%;
                    background-color: black;
                    font-size: 18px;
                    margin: 0 3px;
                    transition: all 0.3s;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: $color1;
                    }
                }
            }
        }
    }

    .payment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        .top {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 15px;

            img {
                margin: 0 10px;
                margin-bottom: 15px;

                @media (max-width: 576px) {
                    width: 46px;
                }
            }
            @media (max-width: 576px) {
                margin-bottom: 30px;
            }
        }
        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 15px;

            img {
                margin: 0 10px;
                margin-bottom: 10px;
                @media (max-width: 576px) {
                    width: 47px;
                }
            }
        }

        @media (max-width: 576px) {
            margin-bottom: 10px;
        }
    }

    .credit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
        p {
            margin: 0;
            color: black;
            font-size: 15px;
        }

        @media (max-width: 992px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

            p {
                width: 100%;
                text-align: center;
                margin: 5px 0;
            }
        }
    }
}

html[dir="ltr"] {
    .s-container {
        .swiper-button-prev {
            right: unset;
            left: -55px;
            @media (max-width: 1400px) {
                right: unset;
                left: -35px;
            }
        }
        .swiper-button-next {
            left: unset;
            right: -55px;
            @media (max-width: 1400px) {
                left: unset;
                right: -35px;
            }
        }
    }

    nav {
        .nav-bottom {
            .nava-active {
                .nava-content {
                    right: unset;
                    left: 0;
                }
            }

            .search {
                .search-content {
                    .search-btn {
                        left: unset;
                        right: 20px;
                    }
                }
            }
        }

        .nava {
            .nava-content {
                @media (max-width: 1200px) {
                    right: unset;
                    left: -150%;

                    .nava-head {
                        .nava-close {
                            left: unset;
                            right: 7px;
                        }
                    }
                }
            }
        }

        .nava-active {
            .nava-content {
                right: unset;
                left: 0;
            }
        }
    }

    .search-form {
        .searching {
            left: unset;
            right: 10px;

            @media (max-width: 576px) {
                left: unset;
                right: 10px;
            }
        }
    }

    header {
        .swiper-container {
            .swiper-button-prev {
                right: unset;
                left: 35px;
            }

            .swiper-button-next {
                left: unset;
                right: 35px;
            }
        }
    }

    #about {
        .about-content {
            .top-img {
                .swiper-container {
                    .swiper-button-prev {
                        right: unset;
                        left: 35px;
                    }

                    .swiper-button-next {
                        left: unset;
                        right: 35px;
                    }
                }
            }
        }
    }

    #banners {
        .banners-swiper-container {
            .swiper-button-prev {
                right: unset;
                left: -55px;
                @media (max-width: 1400px) {
                    right: unset;
                    left: -35px;
                }
            }
            .swiper-button-next {
                left: unset;
                right: -55px;
                @media (max-width: 1400px) {
                    left: unset;
                    right: -35px;
                }
            }
        }
    }

    footer {
        .footer-top {
            li {
                &:hover {
                    transform: translateX(5px);
                }
            }
            .mail {
                .form-group {
                    a {
                        left: unset;
                        right: 20px;
                    }
                    input {
                        padding-right: unset;
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}

@keyframes vibe {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
}
